{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{{ block.super }}

{% endblock %}

{% block coltype %}content{% endblock %}

{% block bodyclass %}{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">管理サイトを表示</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">ログアウト</a>
</div>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'app:index' %}">ユーザサイト</a></h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<div class="common-block download">
    <div id="download-button" class="common-button download">ダウンロード</div>
</div>
<div class="common-block upload">
    <div id="upload-button" class="common-button upload">アップロード</div>
</div>
<div class="history-block">
    <ul class="history-list">
        <li>履歴</li>
        {% for history in histories %}
            <li>{{ history.timestamp }} {{ history.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}<div id="loading" class="loading"></div>{% endblock %}
